aws_region          = "eu-north-1"
project_name        = "viktoriia-mlops-final"
kubernetes_version  = "1.34"
allowed_admin_cidr  = "203.0.113.10/32"
git_revision        = "final-project"
gitlab_project_path = "vikkrat-group/mlops-final-project"
release_image_tag    = "REPLACE_WITH_40_CHARACTER_GIT_COMMIT_SHA"
